<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= action %> Menu Category</title>
  </head>
  <body>
    <h1><%= action %> Menu Category</h1>

    <form action="/admin/menuCategories/<%= action %>" method="post">
      <label for="categoryName">Category Name:</label>
      <input
        type="text"
        id="categoryName"
        name="categoryName"
        value="<%= category ? category.categoryName : '' %>"
        required
      />

      <button type="submit"><%= action %> Category</button>
    </form>
  </body>
</html>
