<%- include('../head.ejs') %>

  <body class="sub_page">
    <style>
      .menuItemsList {
        list-style: none;
        padding: 0;
      }

      .menuItemsListItem {
        border-bottom: 1px solid #ddd;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    </style>
    <%- include('admin-navbar.ejs') %>
      <section class="orders_section layout_padding">
        <div class="container">
          <h1>Categories</h1>
          <a href="/admin/createCategory" class="btn btn-outline-primary">Ajouter catégorie</a>

          <ul class="menuItemsList">
            <% menuCategories.forEach(category=> { %>
              <li class="menuItemsListItem">
                <%= category.categoryName %>
                  <div>
                    <a class="text-success" href="/admin/menuCategories/<%= category.categoryId %>/edit">Edit</a>
                    <a class="text-danger"
                      onclick="confirmDelete('<%= category.categoryName %>','<%= category.categoryId %>')">Delete</a>
                  </div>
        </li>
        <% }); %>
          </ul>
          </div>
      </section>
      <script>
        function confirmDelete(itemName, itemId) {
          if (confirm("Vous confimer la suppression de \" " + itemName + " \" ?") == true) {
            window.location.href = "/admin/menuCategories/" + itemId + "/delete"
          } else {
            console.log("delete cancelled");
          }
        }
      </script>
      <%- include('../foot.ejs') %>