<!-- orders.ejs -->

<%- include('../head.ejs') %>

  <body class="sub_page">
    <style>
      .table-wrapper {
        width: 100%;
      }
    </style>
    <%- include('admin-navbar.ejs') %>
      <section class="orders_section layout_padding">

        <div class="container">
          <div class="heading_container heading_center">
            <h2>Ajouter un produit au menu</h2>
          </div>
          <form action="/admin/menuItems/<%= locals.item ? locals.item.itemId +" /" : '' %><%= action %>" method="post" enctype="multipart/form-data">
            <div class="form-group">

              <label for="itemName">Nom Produit:</label>
              <input type="text" name="itemName" class="form-control"
                value="<%= locals.item ? locals.item.itemName : '' %>" required>
              <br>
            </div>
            <div class="form-group">

              <label for="description">Description:</label>
              <input type="text" class="form-control" value="<%= locals.item ? locals.item.description : '' %>" name="description" required>
              <br>
            </div>
            <div class="form-group">

              <label for="price">Prix:</label>
              <input type="number" class="form-control" name="price" value="<%= locals.item ? locals.item.price : '' %>" required>
              <br>
            </div>
            <div class="form-group">

              <label for="categoryId">Catégorie:</label><br>
              <select class="form-control form-control-lg" name="categoryId" required>
                <% categories.forEach(category=> { %>
                  <option value="<%= category.categoryId %>" <%= (locals.item.categoryId == category.categoryId) ? 'selected' : '' %> >
                    <%= category.categoryName %>
                  </option>
                  <% }); %>
              </select>
              <br>
              <br>
            </div>
            <div class="form-group">

              <label for="image">Image:</label>
              <input type="file" class="form-control-file" name="image">
              <% if (locals.item) { %>
                <img src="<%= locals.item.image %>" alt="">
                <% } %>
              <br>
            </div>

            <button type="submit" class="btn btn-outline-primary w-100">Modifier produit</button>

          </form>
        </div>
      </section>
      <%- include('../foot.ejs') %>