<!-- orders.ejs -->

<%- include('../head.ejs') %>

  <body class="sub_page">
    <style>
      .table-wrapper {
        width: 100%;
      }
    </style>
    <%- include('admin-navbar.ejs') %>
      <section class="orders_section layout_padding">

        <div class="container">
          <div class="heading_container heading_center">
            <h2>Ajouter une categorie au menu</h2>
          </div>

          <form action="/admin/menuCategories/<%= action %>" method="post">
            <div class="form-group">
              <label for="categoryName">Category Name:</label>
              <input type="text" id="categoryName" name="categoryName" class="form-control"
                value="<%= category ? category.categoryName : '' %>" required />
            </div>
            <button type="submit" class="btn btn-outline-primary">
              <%= action %> Category
            </button>
          </form>
        </div>
      </section>
      <%- include('../foot.ejs') %>