<%- include('head.ejs') %>

  <body>
    <%- include('header.ejs') %>
      <section class="food_section layout_padding-bottom mt-4">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>
              Notre Menu
            </h2>
          </div>


          <div class="btn-box">
            <a href="/menu">
              Consulter le menu complet
            </a>
          </div>
          <div class="filters-content">
            <div class="row grid">
              <% menuItems.forEach(menuItem=> { %>
                <div class="col-sm-6 col-lg-4 all <%= menuItem.MenuCategory.categoryName.toLowerCase() %>">
                  <div class="box">
                    <div>
                      <div class="img-box">
                        <!-- You can replace this image source with the actual image URL from your data -->
                        <img src="<%= menuItem.image %>" alt="<%= menuItem.itemName %>">
                      </div>
                      <div class="detail-box" style="height: 240px;">
                        <h5>
                          <%= menuItem.itemName %>
                        </h5>
                        <p>
                          <%= menuItem.description %>
                        </p>
                        <div class="options">
                          <h6>
                            <%= menuItem.price %> D.T
                          </h6>
                          <a href="order/<%= menuItem.itemId %>"><i class="fa fa-shopping-cart text-white"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }); %>
            </div>
          </div>
        </div>
      </section>
      <div class="wave-container rotate-up mt-5"></div>
      <div class="between-waves d-flex justify-content-center">
        <div class="floating-dish left" id="left">
          <img src="/images/crepe.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center text-center align-items-center">
          <h1 class="text-white banner-text">
            Explorez l'art culinaire chez nous,<br>
            à savourer <a href="https://www.google.com/maps/dir/?api=1&destination=36.731827%2C10.336037"
              class="text-white" style="animation: colorChange 2s ease-in-out infinite;">sur place</a> ou à emporter !
          </h1>
          <div class="row text-white border border-white p-1 w-75 mt-2" style="border-radius: 25px;">
            <div class="col-4">
              <h3 class="responsive-text"><strong>Emplacement:</strong></h3>
              <p class="responsive-text">
                Militant Ali Chehimi, Hammam-Lif, Ben Arous
              </p>
            </div>
            <div class="col-4">
              <h3 class="responsive-text"><strong>Horaire:</h3></strong>
              <p class="responsive-text">
                8:00 - 19:00
              </p>
            </div>
            <div class="col-4">
              <h3 class="responsive-text"><strong>Numéro:</strong></h3>
              <p class="responsive-text">
                92 428 859
              </p>
            </div>
          </div>
        </div>
        <div class="floating-dish right" id="right">
          <img src="/images/waffle.png" alt="">
        </div>
      </div>
      <div class="wave-container mb-5"></div>

      <script>
        var left_div = document.getElementById('left');
        var right_div = document.getElementById('right');

        window.addEventListener('scroll', animation);

        function animation(e) {


          var left_div_pos = left_div.offsetTop;
          var right_div_pos = right_div.offsetTop;


          var window_pos = window.pageYOffset;

          if (window_pos > left_div_pos - 500) {

            left_div.classList.add('animation-left');
          }
          if (window_pos > right_div_pos - 500) {

            right_div.classList.add('animation-right');
          }
        }
      </script>
      <%- include('foot.ejs') %>